# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
*.[oa]
*~
*.dep
*.obj
VTK
log.*
log*
[1-9]
[0-9].[0-9]
[0-9].[0-9][0-9]
[0-9].[0-9][0-9][0-9]
[0-9].[0-9][0-9][0-9][0-9]
[0-9].[0-9][0-9][0-9][0-9][0-9]
[0-9][0-9]
[0-9][0-9].[0-9]
[0-9][0-9].[0-9][0-9]
[0-9][0-9].[0-9][0-9][0-9]
[0-9][0-9].[0-9][0-9][0-9][0-9]
[0-9][0-9].[0-9][0-9][0-9][0-9][0-9]
[0-9][0-9][0-9]
[0-9][0-9][0-9].[0-9]
[0-9][0-9][0-9].[0-9][0-9]
[0-9][0-9][0-9].[0-9][0-9][0-9]
[0-9][0-9][0-9].[0-9][0-9][0-9][0-9]
[0-9][0-9][0-9].[0-9][0-9][0-9][0-9][0-9]
lnInclude
*.swp
linux64GccDPOpt
linux64GccDPDebug
linux64Gcc47DPOpt
linux64Gcc47DPDebug
linux64GccDPInt32Opt
linux64GccDPInt32Debug
linux64GccDPInt64Opt
linux64GccDPInt64Debug
linux64Clang40DPInt64Opt
linux64Clang40DPInt32Opt
darwinIntel64Gcc48DPOpt
darwinIntel64Gcc46DPOpt
darwinIntel64Gcc49DPOpt
darwinIntel64Gcc46DPDebug
darwinIntel64Gcc49DPDebug
darwinIntel64GccDPOpt
darwinIntel64GccDPDebug
sets
Debug
Release
tmp
probes
mfr_downstream
mfr_inlet
mfr_midPlane
.cproject
#fireFoam
*.org
probs
*.old
*.save
HRR
trash
dummy
*.OpenFOAM
*.foam
*readme*
boundary
cellZones
faceZones
faces
neighbour
owner
pointZones
points
/*/**/**/constant/filmRegion/
/*/**/**/constant/wallFilmRegion/
/*/**/**/**/pyrolysisRegion/polyMesh
/*/**/**/panelRegion/polyMesh
/*/**/**/**/panelRegion/polyMesh
/*/**/**/constant/pyrolysisRegion/polyMesh/
eightBoxSuppression/
exclude.txt
patchInlet
patchOutlet
patchSides
outFlameHeight_*
patchPanel
patchProbes
patchPanelSolid
patchBurner
patchPanelSolidRegion
fieldMimMax
zones
.options
.project
*.tar.gz
*.pvsm
animation
samples-0.txt
sides-0.txt
tiers-0.txt
boxes-0.txt
cube*_side*_sample*/
.RData
.Rhistory
*.png
.nfs*
*.err
*.log
*.pdf
processor*
core
*.dat
faceToPatchEdgeAddressing
faceToPatchFaceAddressing
*.settings
fileDiffere*
directoryDiff*
*.xml
*ToPatch*Addressing*
*.pyc
sprinklerInjectionProfile
diffFiles.sh
RTI*
*.orig
\#*\#
gnuplot.sh
cp.sh
vimdiff.sh
cellToRegion
diffFiles.sh
nohup.out
*/*/0/polyMesh/
polar.azi
polar.ele
polar.avgFlux
pans.txt
*#*
.DS_Store
*.tgz
fireFoam.creator.user
cellLevel
pointLevel
refinementHistory
level0Edge
surfaceIndex
destFiles.sh
sourceFiles.sh
version.C
ph_rgh
*.vtk
postProcessing
notes
